lexical/archaic.out
lexical/archaic.yy.cpp

parser/y.tab.h
parser/y.tab.c
parser/y.output

parser/archaic_parser.out
parser/archaic_parser.yy.c

syntaxTree/y.tab.h
syntaxTree/y.tab.c
syntaxTree/y.output

syntaxTree/archaic_tree.yy.c
syntaxTree/archaic_tree.out

semantic/archaic_semantic.yy.c
semantic/archaic_semantic.out
semantic/a.out
semantic/lex.yy.c

semantic/y.tab.h
semantic/y.tab.c
semantic/y.output

icg/a.out
icg/lex.yy.c

icg/y.tab.h
icg/y.tab.c
icg/y.output


opt/a.out
opt/lex.yy.c

opt/y.tab.h
opt/y.tab.c
opt/y.output
