lexical/archaic.out
lexical/archaic.yy.cpp

parser/y.tab.h
parser/y.tab.c
parser/y.output

parser/archaic_parser.out
parser/archaic_parser.yy.c

syntaxTree/y.tab.h
syntaxTree/y.tab.c
syntaxTree/y.output

syntaxTree/archaic_tree.yy.c
syntaxTree/archaic_tree.out